@charset "UTF-8";

html{
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Oxygem", arial;
}

.button{
  display: inline-block;
  padding: .75em 1.5em;
  background-color: #58c4c4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color: #37a0a0;
}

.top-header{
  text-align: center;
}

.top-header-logo{
  margin: .5em;
}

.top-nav{
  background-color: #612674;
  text-align: center;
}

.top-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav a{
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.top-nav a:hover{
  background-color: #7c3792;
}

.top-content{
  padding: 1em;
  text-align: center;
  background-color: #f6f6f6;
}

.top-content-title{
  color: #612674;
  font-size: 1.375em; /* 22 / 16 (tamanho que eu quero dividido pelo padrao*/
  margin: 1.375em;
}

.top-content-subtitle{
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}